<div id="page">
    <br>
    
    
    <section id="cart" class="py-3">
        <div class="container-fluid w-75">
            <h5 class="heading">Shopping Cart</h5>

            <!--  shopping cart items   -->
                <div class="row" *ngFor = "let p of cartproducts let i = index">
                    <div class="col-sm-9">
                        <!-- cart item -->
                            <div class="row border-top py-3 mt-3">
                                <div class="col-sm-2">
                                    <img [src] = 'p.productImg' style="height: 120px;" alt="cart1" class="img-fluid">
                                </div>
                                <div class="col-sm-8">
                                    <h5 class="font-baloo font-size-20">{{p.productName}}</h5>                                    
                                   
                                </div>

                                <div class="col-sm-2 text-right">
                                    <div class="font-size-20 text-danger font-baloo">
                                        <span class="product_price">{{p.productPrice | currency:'$'}} </span>
                                    </div>
                                </div>
                            </div>
                        <!-- !cart item -->
                       
                    </div>
                    <!-- subtotal section-->
                    <div class="col-sm-3">
                        <div class="sub-total border text-center mt-2">
                            <h6 class="font-size-12 font-rale text-success py-3"><i class="fas fa-check"></i> Your order is eligible for FREE Delivery.</h6>
                            
                        </div>
                    </div>
                    
                    <!-- !subtotal section-->
                </div>
                <div class="border-top py-4" id="pay">
                    <h5 class="heading">Total :&nbsp; <span class="text-danger"><span class="text-danger" id="deal-price">{{scart.productPrice | currency:'$'}}</span> </span> </h5>
                    <!--button type="submit" class="btn btn-warning mt-3" routerLink = "/order-success">Proceed to Buy</button>-->
                </div>
            
            <!--  !shopping cart items   -->
            <!---->
            <div class="container-fluid" id="paytm">
                <div class="row d-flex justify-content-center">
                    <div class="col-sm-12">
                        <div class="card mx-auto">
                            <p class="heading">PAYMENT DETAILS</p>
                            <form class="card-details ">
                                <div class="form-group mb-0">
                                    <p class="text-warning mb-0">Card Number</p> <input id="input" type="text" name="card-num" placeholder="1234 5678 9012 3457" size="17" id="cno" minlength="19" maxlength="19" required> <img id = "img"src="https://img.icons8.com/color/48/000000/visa.png" width="64px" height="60px" />
                                </div>
                                <div class="form-group">
                                    <p class="text-warning mb-0">Cardholder's Name</p> <input id="input" type="text" name="name" placeholder="Name" size="17" required>
                                </div>
                                <div class="form-group pt-2">
                                    <div class="row d-flex">
                                        <div class="col-sm-4">
                                            <p class="text-warning mb-0">Expiration</p> <input id = "input" type="text" name="exp" placeholder="MM/YYYY" size="7" id="exp" minlength="7" maxlength="7" required>
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="text-warning mb-0">Cvv</p> <input type="password" id="input" name="cvv" placeholder="&#9679;&#9679;&#9679;" size="1" minlength="3" maxlength="3" required>
                                            <button type="submit" class="btn btn-warning" id="proceed" routerLink = "/order-success">Proceed to Order</button>
                                        </div>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </section>
</div>