<div id="page">
   
    <p class="lead" style="font-weight: bold;font-size: 40px;font-family: cursive;">Admin Page</p>
    <p>

        <a class="btn btn-success mr-2" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Click To change Password</a>
        <button class="btn btn-success mr-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample2" aria-expanded="false" aria-controls="multiCollapseExample2">To View All Products</button>
        <button class="btn btn-success mr-2" type="button" data-toggle="collapse" data-target="#multiCollapseExample3" aria-expanded="false" aria-controls="multiCollapseExample2">To Add Product</button>
        
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body" style="text-align: center;font-weight: bold;font-size: 20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;;color: rgb(63, 62, 62);">
              Change Password: &nbsp;&nbsp;&nbsp;&nbsp;
                
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-outline-success" routerLink = "/admin/changepassword">Change Password</button>             
            </div>
          </div>
        </div>
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample2">
              <div class="card card-body" style="text-align: center;font-weight: bold;font-size: 20px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;color: rgb(63, 62, 62);">
                View Inventory of Products:&nbsp;&nbsp;&nbsp;
                <button type="submit" class="btn btn-outline-success" routerLink = "/admin/products">View All Items</button> 
              </div>
            </div>
          </div>
          
        <div class="row">
          <div class="collapse multi-collapse" id="multiCollapseExample3">
            <div class="card card-body"style="text-align: center;font-weight: bold;font-size: 20px;font-famil:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, cursive;color: rgb(63, 62, 62);" >
              Add food Products:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button type="submit" class="btn btn-outline-success" routerLink = "/admin/products/new">Add Product </button> 
            </div>
          </div>
        </div>
      </div>
</div>