<!--Carousel-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    
    <div >
      <img width="70pix" src="https://images.pexels.com/photos/1300972/pexels-photo-1300972.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300" alt="Second slide">
      
      <div class="carousel-caption trickcenter" style="background-color: rgb(255, 230, 7); line-height: 45px;">
        <h1 class="lead">
          <h3 id="food">Malini's KitchenStory</h3>
                      <p class="m-b-80"> <strong>Buy all your favorite food online.
                        Order online. Get all your favourite products with high quality delivered to your door. Lowest prices guaranteed on Fresh cooked food, We work round the clock to make sure our customers get the best product possible. Cant find something? message us and we will source the food for you.
                        One stop foodbox for all your daily needs foodbox.com is a low-price online supermarket that allows you to order read Food across categories. Want to purchase in bulk ? Enquire us for having account on your bulk purchases get items cheaper than or price match with your local wholesaler or disributor like Cash and carry or Restaurant Depot.
                        For best of prices, deals and offers; Order online<Br>
                        We are currently serving 15 cities in Texas State: Austin, Houston , Dallas and more.</strong> 
                        
                      </p>
                      
        </h1>
      </div>
    </div>
</div>
<!-------------footer------------>
<section class="footer">
<div class="container text-center">
  
</div>

<div class="carousel-inner">
<div class="footer-column-1 col-lg-3 col-md-4 col-12">
<div class="footer-logo"><strong><span style="font-size: x-large;">Malini's FoodBox.com</span></strong></div>

<div class="payment-accept">
<div class="footer-image">
  <img class="footer-image" alt="payment1" src="https://www.shoperies.com/skin/frontend/rwd/eclipse-green/images/payment-1.png">
  <img alt="payment2" src="https://www.shoperies.com/skin/frontend/rwd/eclipse-green/images/payment-2.png">
  <img alt="payment3" src="https://www.shoperies.com/skin/frontend/rwd/eclipse-green/images/payment-3.png"> 
  <img alt="payment4" src="https://www.shoperies.com/skin/frontend/rwd/eclipse-green/images/payment-4.png">

</div>
<div class="footer-column col-6 col-md-3 col-lg-2">
<h4>Shopping Guide</h4>
<ul class="links">
<li class="first"><a href="#" title="How to buy" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:showBlog()">Blog</a></li>
<li><a href="#!/faq" title="FAQs">FAQs</a></li>
<li><a href="#!/delivery">Delivery</a></li>
<li class="last"><a title="Return policy" href="#!/refund">Refund policy</a></li>
<li class="last"><a href="#" title="Your Account" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:showMyAccounts()">Your Account</a></li>
</ul>
</div>
<div class="footer-column col-6 col-md-3 col-lg-2">
<h4>Information</h4>
<ul class="links">
<li class="first"><a href="#!/about">About Us</a></li>
<li class="first"><a href="#!/terms">Terms and Conditions</a></li>
<li class="first"><a href="javascript:showPrivacy()">Privacy Policy</a></li>
<li class="first"><a title="Site Map" href="https://www.shoperies.com/np/sitemapv1.txt">Site Map</a></li>
<li><a href="#" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:showCommunityEvents()">Community Events</a></li>
</ul>
</div>
<div class="footer-column col-6 col-md-3 col-lg-2">
<h4>Contact us</h4>
<address><i class="fa fa-map-marker fa-2x pr-2"></i>3865 NW Gilman Blvd
  Issaquah, WA 98027</address>
<div class="mb-2"><i class="fa fa-phone fa-2x pr-2"></i>+1 425 749 4205</div>
<div class=""><a href="mailto:malinikitchenstory.com">malinikitchenstory.com</a></div>
</div>
  
<h4>Certification</h4>
<div class="footer-image">
<script type="text/javascript" src="https://sealserver.trustwave.com/seal.js?code=bf5480b7102a4fbeb72bf994a67ff82e"></script><img height=50 width=10 id="trustwaveSealImage" src="https://sealserver.trustwave.com/seal_image.php?customerId=bf5480b7102a4fbeb72bf994a67ff82e&amp;size=105x54&amp;style=" border="0" style="cursor:pointer;" onclick="javascript:window.open('https://sealserver.trustwave.com/cert.php?customerId=bf5480b7102a4fbeb72bf994a67ff82e&amp;size=105x54&amp;style=', 'c_TW', 'location=no, toolbar=no, resizable=yes, scrollbars=yes, directories=no, status=no, width=615, height=720'); return false;" oncontextmenu="javascript:alert('Copying Prohibited by Law - Trusted Commerce is a Service Mark of TrustWave Holdings, Inc.'); return false;" alt="This site is protected by Trustwave's Trusted Commerce program" title="This site is protected by Trustwave's Trusted Commerce program">
</div>

</div>